@import url('font.css');

html{
    font-size: calc((5vw + 5vh)/2);
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-size: 0.4rem;
    position: relative;
}

@media screen and (max-width:1023px){
    body{
        font-size:0.6rem;
    }
}

@media screen and (max-width:599px){
    body {
        font-size:1rem;
    }
}

/*header*/

header{
    padding : 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button, header a p{
    font-size: 0.4rem;
    background-color: white;
    color : black;
    border: none;
    text-decoration: underline;
    cursor : pointer;
    padding : 5%;
    box-sizing: content-box;
}

main{
    display: flex;
    flex-direction: column-reverse;
    padding: 5%;
    width: fit-content;
    margin: auto;
}

/* -- BACK OFFICE -- */

#ajouterProjet{
    background-color: lightblue;
    padding : max(2%, 10px) 0;
    width: 80%;
    margin: 0 auto;
    transition-duration: 0.5s;
    cursor: pointer;
}

.supprimerProjet{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: none;
    position: absolute;
    top: -0.4rem;
    left: calc(100% - 0.4rem);
    z-index: 1;
    transition-duration: 0.5s;
    font-size: 0.6rem;
}

.supprimerProjet:hover{
    transform: scale(1.5);
}

#modal{
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
    padding: 10%;
}

#prompt{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    position: relative;
    width: 75vw;
    margin: 0 auto;
}

.long{
    width: 90%;
}

#prompt p{
    margin : max(5%, 30px);
}

#choix{
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

#skillExistant{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: min-content;
    min-width: 8rem;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : max(2%,20px);
}

.skillbutton{
    background-color: lightblue;
    width: 50%;
    font-size: 0.4rem;
    padding : max(2%, 10px) 5%;
    margin : 5%;
    transition-duration: 0.5s;
    align-self: center;
}

.skillbutton:hover{
    transform : scale(1.2);
}

#creationSkill{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 5%;
    align-items: center;
    justify-content: space-between;
}

#creationSkill div{
    display: flex;
    max-width: 75vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

#creationSkill input[type='text']{
    font-size: 0.4rem;
    width: 60%;
    padding : 0 5%;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-column input[type='text']{
    font-size: 0.4rem;
    width: 50%;
    padding: 0 5%;
    margin : 0 5%;
}

.flex-column .skillbutton{
    margin : 5% auto;
}

.flex{
    display: flex;
    align-items: center;
    text-align: center;
}

.center{
    justify-content: center;
}

#prompt label{
    padding : 0 5%;
}

#ajouterProjet:hover{
    transform: scale(1.2);
}

.projet{
    margin : 5% 0;
    background-color: lightblue;
    border: 1px solid blue;
    padding : 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.archivage{
    display: none;
}

.archiverProjet{
    position: absolute;
    top: 0.5rem;
    left: -0.1rem;
    width: 0.2rem;
    height: 3rem;
    background-color: white;
    border-radius: 45px;
    box-sizing: content-box;
}

.archiverProjet label{
    position: absolute;
    top:0;
    height: 2rem;
    width: 0.2rem;
    background-color: grey;
    border: 1px solid black;
    border-radius: 45px;
    transition-duration: 0.5s;
    z-index: 2;
}

.archiverProjet input:checked ~ label{
    top:1rem;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    z-index: 1;
    display: none;
    transition-duration: 0.5s;
}

.cover p{
    position: absolute;
    font-size: 5rem;
    transform: rotate(45deg);
}

.nom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projet h2{
    margin : 0 auto;
}

.projet h3{
    margin : 5% 0;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.conteneurPhoto{
    width: 45%;
    margin: 0 2.5% 5%;
    position: relative;
    display: flex;
    align-items: center;
}

.photo{
    width: 100%;
}

.suppression{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: none;
    position: absolute;
    top: -0.4rem;
    left: calc(100% - 0.4rem);
    z-index: 1;
    transition-duration: 0.5s;
    font-size: 0.6rem;
}

.suppression:hover{
    transform: scale(1.5);
}

.competences{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.conteneurLogo{
    position:relative;
    width:10%;
    margin : 2%;
    display: flex;
    align-items: center;
}

.logo{
    width: 100%;
}

.ajout{
    transition-duration: 0.5s;
}


.ajoutImage input[type='file']{
    display: none;
}

.equipe{
    display: flex;
}

.equipe p{
    margin-right: 5%;
}

.modifier{
    font-size: 0.4rem;
    background-color: transparent;
    border: none;
    color:black;
    cursor: pointer;
    transition-duration: 0.5s;
}

.modifier:hover{
    color : darkred;
}

/* -- CONNECTION -- */

#formulaire{
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding : 5%;
    background-color: lightblue;
    border-radius: 40px;
}

#formulaire #text{
    color:darkred;
    font-weight: bold;
}

#formulaire > div{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 5%;
    align-items: center;
}

#formulaire > p{
    margin-bottom: 5%;
}

#formulaire input{
    max-width: 60%;
    border-radius: 25px;
    font-size: 0.4rem;
    padding: 0 5%;
}

#formulaire > button{
    font-size: 0.3rem;
    display: block;
    width: 50%;
    margin-top : 5%;
    border-radius: 25px;
    padding : 2% 5%;
    text-align: center;
}

#formulaire input:focus{
    transition-duration: 0.5s;
    transform: scale(1.2);
}

#formulaire button:hover{
    transition-duration: 0.5s;
    transform: scale(1.2);
}

@media screen and (max-width:1023px){
    #formulaire input{
        font-size: 0.6rem;
    }
    
    #formulaire > button{
        font-size: 0.5rem;
    }

    header button, header a p{
        font-size: 0.6rem;
    }

    .archiverProjet{
        left: -0.2rem;
        width: 0.4rem;
        height: 6rem;
    }

    .supprimerProjet, .suppression{
        width: 1.2rem;
        height: 1.2rem;
        font-size: 1rem;
        top:-0.6rem;
        left:calc(100% - 0.6rem);
    }

    .conteneurPhoto{
        width: 100%;
    }
    
    .conteneurLogo{
        width:25%;
    }

    .modifier{
        font-size: 0.6rem;
    }

    .archiverProjet label{
        width: 0.4rem;
        height: 4rem;
    }

    .archiverProjet input:checked ~ label{
        top:2rem;
    }
}

@media screen and (max-width:599px){
    #formulaire input{
        font-size: 1rem;
    }
    
    #formulaire > button{
        font-size: 0.8rem;
    }

    #formulaire > div{
        display: flex;
        flex-direction: column;
    }

    header button, header a p{
        font-size: 1rem;
    }

    .supprimerProjet, .suppression{
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.2rem;
        top:-0.75rem;
        left:calc(100% - 0.75rem);
    }

    .modifier{
        font-size: 1rem;
    }

    .conteneurLogo{
        width:40%;
    }
}