@import url('font.css');

html{
    font-size: 5vw;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*variables couleurs principales*/

body{
    --couleur-light:#82CAFF;
    --couleur-dark:#31429A;
    font-size: 0.4rem;
    font-family: 'Kaushan Script', cursive;
}

/*  menu burger qui ressort du haut en demi-cercle.
    disparait quand le menu est présent et réapparait lorsque menu
    disparait.*/

.rangement-menu{    
    position:fixed;
    z-index: 10;
    height: 200px;
    width: 200px;
    left: 50%;
    transform: translateY(-100%);
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*image centré*/

.menu-burger{
    display: none;
}

.menu-burger-label{
    margin-bottom: 20px;
    z-index: 10;
}

.menu-burger-label img{
    height: 60px;
}

/* bouton dark-mode*/

.on-off-dark-mode{
    display: none;
}

.dark-mode-label{    
    position : absolute;
    right:10%;
    top:calc(40px - 0.1rem);
    z-index: 10;
}

.dark-mode-inner-label{
    width : 1.5rem;
    height : 0.75rem;
    background-color:var(--couleur-dark) ;
    border : 5px solid black;    
    border-radius: 40px;
    position: relative;
    box-sizing: content-box;
    transition-duration: 1s;
}

.dark-mode-button{
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--couleur-light);
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    left: 0;
    transition-duration: 0.5s;
}

.on-off-dark-mode:checked ~ .dark-mode-label .dark-mode-button{
    left: 0.75rem;
    background-color: var(--couleur-dark);
}

.on-off-dark-mode:checked ~ .dark-mode-label .dark-mode-inner-label{
    background-color: var(--couleur-light);
}


/*menu de navigation*/

.menu{     
    position:fixed;
    top:50px;
    left:10%;
    width: 60vw;
    z-index: 10;
}

.menu ul{
    display: flex;
    justify-content: space-between;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
}

.on-off-dark-mode:checked ~ header .menu a{
    color : white;
}

/*main*/

/*section accueil*/

#accueil{
    height: 100vh;
    background-color: var(--couleur-light);
    transition-duration: 0.5s;
    overflow: hidden;
    position: relative;
    color : black;
}

.on-off-dark-mode:checked ~ main #accueil{
    background-color: var(--couleur-dark);
    color: white;
}


/*balise flottante en fond*/

.fond-anim{
    position:absolute;
    font-family: 'arial';
    color : rgba(255,255,255,0.2);
    font-size: 2rem;
}

#anim1{
    left:18%;
    top:13%;
    transform: rotate(7deg);
}

#anim2{
    left:68%;
    top:16%;
    transform: rotate(-9deg);
}

#anim3{
    left:45%;
    top:50%;
    transform: rotate(-1deg);
}

#anim4{
    left:8%;
    top:70%;
    transform: rotate(-6deg);
}

#anim5{
    left:70%;
    top:68%;
    transform: rotate(14deg);
}

/*contenu principal de l'accueil*/

.contenu-principal{
    height: 80vh;
    display: flex;
    position : absolute;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.contenu-principal h1{
    position:relative;
    font-size: 1rem;
}

.separateur{
    width: 80%;
    border: 1px solid black;
    position: relative;
    left : 10%;
    margin: 0.7rem 0 0.3rem;
}

.petit-logo{
    height: 1.5em;
    position: relative;
    top:0.30em;
    left: calc(40% - 1.5em);
    filter:brightness(0);
    transition-duration: 0.5s;
}

.on-off-dark-mode:checked ~ main .petit-logo{
    filter:brightness(1);
}

.telephone{
    max-height: 80%;
    max-width: 40%;
}