@import url('font.css');

html{
    font-size: calc((5vw + 5vh)/2);
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*variables couleurs principales*/

body{
    --couleur-light:#82CAFF;
    --couleur-dark:#31429A;
    font-size: 0.4rem;
    font-family: 'Kaushan Script', cursive;
}

@media screen and (max-width:1023px){
    body{
        font-size:0.6rem;
    }
}

@media screen and (max-width:599px){
    body {
        font-size:1rem;
    }
}

/*  menu burger qui ressort du haut en demi-cercle.
    disparait quand le menu est présent et réapparait lorsque menu
    disparait.*/

.rangement-menu{    
    position:fixed;
    z-index: 20;
    height: 3rem;
    width: 3rem;
    left: calc(50% - 1.5rem);
    transform: translateY(-100%);
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition-duration: 1s;
}

.on-off-dark-mode:checked ~ .rangement-menu{
    background-color: rgb(185, 185, 185);
}



.menu-burger:checked ~ .rangement-menu{
    transform: translateY(-50%);
}

.zoneHaute{
    position : fixed;
    top:0;
    left: calc(50% - 1.5rem);
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: 30;
}


@media screen and (max-width:1023px){
    .rangement-menu{
        height: 1.5rem;
        width: 3rem;
        left:0;
        transform: translateX(-50%) translateY(0);
        border-radius: 25px;
        justify-content: end;
        align-items: center;
        top:10vh;
    }

    .menu-burger:checked ~ .rangement-menu{
        transform: translateX(-50%) translateY(0);
    }

    .zoneHaute{
        display: none;
    }
}


/*image centré*/

.menu-burger{
    display: none;
}

.menu-burger-label{
    display: flex;
    justify-content: center;
    padding : 5%;
}

.menu-burger-label img{
    width: 50%;
    padding : 5%;
    transition-duration: 0.5s;
}

.on-off-dark-mode:checked ~ .rangement-menu .menu-burger-label img{
    filter:brightness(0.7);
}

@media screen and (max-width:1023px){
    .menu-burger-label{
        justify-content: flex-end;
    }

    .menu-burger-label img{
        height: 50%;
    }
}

/* bouton dark-mode*/

.on-off-dark-mode{
    display: none;
}

.dark-mode-label{  
    transition-duration: 1s;
}

.menu-burger:checked ~ .dark-mode-label{
    transform: translateY(-300%);
}

.dark-mode-inner-label{
    width : 1.5rem;
    height : 0.75rem;
    background-color:var(--couleur-dark) ;
    border : 5px solid black;    
    border-radius: 40px;
    position: relative;
    box-sizing: content-box;
    transition-duration: 1s;
}

.dark-mode-button{
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--couleur-light);
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    left: 0;
    transition-duration: 0.5s;
}

.on-off-dark-mode:checked ~ header .dark-mode-label .dark-mode-button{
    left: 0.75rem;
    background-color: var(--couleur-dark);
}

.on-off-dark-mode:checked ~ header .dark-mode-label .dark-mode-inner-label{
    background-color: var(--couleur-light);
}

@media screen and (max-width:1023px){
    .dark-mode-label{
        padding : 0.5rem;
    }

    .dark-mode-inner-label{
        width: 2.5rem;
        height: 1.25rem;
    }

    .dark-mode-button{
        width: 1.25rem;
        height: 1.25rem;
        background-color: var(--couleur-light);
        border: 1px solid black;
        border-radius: 50%;
        position: relative;
        left: 0;
        transition-duration: 0.5s;
    }

    .on-off-dark-mode:checked ~ header .dark-mode-label .dark-mode-button{
        left: 1.25rem;
    }
}


/*menu de navigation*/

.menu-burger:checked ~ header{
    max-height: 0;
}

.menu{     
    position:fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3vh 10vw;
    z-index: 10;
    transition-duration: 0.5s;
    align-items: center;
    background-color: var(--couleur-light);
}

.menu-burger:checked ~ header .menu{
    transform: translateY(-300%);
}

.on-off-dark-mode:checked ~ header .menu{
    background-color: var(--couleur-dark);
}
.menu ul{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.menu li{
    list-style: none;
    transition-duration: 0.5s;
}

.menu li:hover{
    cursor: pointer;
    transform: scale(1.5);
}

.menu a{
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
}

.on-off-dark-mode:checked ~ header .menu{
    color : rgb(185, 185, 185);
}

@media screen and (max-width:1023px){
    .menu{
        flex-direction: column;
        width: auto;
        right:0;
        height: 100vh;
        transform: translateY(0);
        border-radius: 40px 0 0 40px;
        padding : 0 10vw;
        box-shadow: 0px 0px 2000px 50px;
    }

    .menu-burger:checked ~ header .menu{
        transform: translateX(100%);
        box-shadow: 0px 0px 0px 0px;
    }

    .menu ul{
        flex-direction: column;
        font-size: 1rem;
        align-items: center;
        width: auto;
        height: 100%;
        justify-content: space-around;
    }
}

/*main*/

/*section accueil*/

#accueil{
    height: 100vh;
    background-color: var(--couleur-light);
    transition-duration: 0.5s;
    overflow: hidden;
    position: relative;
    color : black;
    z-index: 1;
}

.on-off-dark-mode:checked ~ main #accueil{
    background-color: var(--couleur-dark);
    color: rgb(185, 185, 185);
}

/*balise flottante en fond*/

.fond-anim{
    position:absolute;
    font-family: 'arial';
    color : rgba(255,255,255,0.2);
    font-size: 2rem;
}

#anim1{
    left:18%;
    top:13%;
    transform: rotate(7deg);
}

#anim2{
    left:68%;
    top:16%;
    transform: rotate(-9deg);
}

#anim3{
    left:45%;
    top:50%;
    transform: rotate(-1deg);
}

#anim4{
    left:8%;
    top:70%;
    transform: rotate(-6deg);
}

#anim5{
    left:70%;
    top:68%;
    transform: rotate(14deg);
}

/*contenu principal de l'accueil*/

.contenu-principal{
    height: 90vh;
    display: flex;
    position : absolute;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}


.contenu-principal h1{
    position:relative;
    font-size: 1rem;
}

.animationAEC{
    animation-fill-mode: both;
    animation-name: AEC;
    animation-duration: 0.5s;
}

.animationAEC:hover{
    animation-name: none;
    animation-name: AEC;
}

@keyframes AEC {
    0%{
        font-size: 0;
        color: rgb(255, 0, 0);
    }
    45%{
        color:rgb(251, 255, 0);
    }
    50%{
        font-size:1.5rem;
    }
    80%{
        color:rgb(81, 255, 0);
    }
    100%{
        font-size: 1rem;
    }
}

@keyframes AECHover {
    0%{
        font-size: 1rem;     
    }
    20%{
        color: rgb(0, 0, 255);
    }
    40%{
        color:rgb(81, 255, 0);
    }
    50%{
        font-size:1.5rem;
    }
    60%{
        color:rgb(251, 255, 0);
    }

    80%{
        color: rgb(255, 0, 0);
    }
    100%{
        font-size: 1rem;
        
    }
}

.separateur{
    width: 80%;
    border: 1px solid black;
    position: relative;
    left : 10%;
    margin: 0.7rem 0 0.3rem;
}

.petit-logo{
    height: 1.5em;
    position: relative;
    top:0.30em;
    left: calc(40% - 1.5em);
    filter:brightness(0);
    transition-duration: 0.5s;
    animation-name: tourne;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tourne{
    from{
        transform: rotateY(0)
    }
    to{
        transform: rotateY(359deg);
    }
}

.on-off-dark-mode:checked ~ main .petit-logo{
    filter:brightness(0.8);
}

.conteneurTelephone{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.animTelephone{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    transform-origin: 0 0;
    transform: rotate3d(2, 0, 0.9, 45deg);
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
}

.menuAnimTelephone{
    height: 20%;
    width: 80%;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: space-between;
    transition-duration: 0.5s;
    opacity: 0;
}

.buttonAnimTelephone{
    width: 27%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgButtonAnimTelephone{
    width: 60%;
    height: 60%;
    cursor: pointer;
}

.ecranAnimTelephone{
    height: 77%;
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}

.innerAnimTelephone{
    width: 95%;
    height: 15%;
    border-radius: 10px;
    background-color: lightblue;
    animation-duration: 1s;
    animation-fill-mode: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.rondAnimTelephone{
    height: 80%;
    border-radius: 50%;
    background-color: rgb(224, 169, 212);
}

.textAnimTelephone{
    height: 80%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lineAnimTelephone{
    height: 30%;
    width: 100%;
    background-color: rgb(194, 194, 194);
    border-radius: 20px;
}

@keyframes ATP {
    from{
        transform: translateY(700%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes ATPclick {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(150%);
    }    
}


.telephone{
    position: relative;
    max-height: 90%;
    max-width: 90%;
}

.on-off-dark-mode:checked ~ main .telephone{
    filter : brightness(0.8)
}

@media screen and (max-width:1023px){
    .contenu-principal h1{
        font-size: 1.5rem;
    }

    @keyframes AEC {
        0%{
            font-size: 0;
            color: rgb(255, 0, 0);
        }
        40%{
            color:rgb(251, 255, 0);
        }
        50%{
            font-size:2rem;
        }
        80%{
            color:rgb(81, 255, 0);
        }
        100%{
            font-size: 1.5rem;
        }
    }

    @keyframes AECHover {
        0%{
            font-size: 1.5rem;     
        }
        20%{
            color: rgb(0, 0, 255);
        }
        40%{
            color:rgb(81, 255, 0);
        }
        50%{
            font-size:2rem;
        }
        60%{
            color:rgb(251, 255, 0);
        }
    
        80%{
            color: rgb(255, 0, 0);
        }
        100%{
            font-size: 1.5rem;
            
        }
    }
}

/*section a propos*/

#aPropos{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.fondAPropos{
    padding: 0 5%;
    left: 0;
    width: 100%;
    position: absolute;
    height: 300vh;
    top : 0;
    background-color: white;
    overflow: hidden;
}

.on-off-dark-mode:checked ~ main .fondAPropos{
    background-color: rgb(80, 80, 80);
    color: white;
}

#fondCode{
    font-family: 'Arial';
    position : absolute;
    margin-top: 50%;
    user-select: none;
    width: 90vw;
}

.fondAPropos:hover ~ .cartePresentation{
    opacity:0.2;
}

.brown{
    color:brown;
}

.on-off-dark-mode:checked ~ main .brown{
    color:rgb(82, 114, 255)
}

.red{
    color: red;
}

.on-off-dark-mode:checked ~ main .red{
    color:#4db5ff;
}

.blue{
    color: blue;
}

.on-off-dark-mode:checked ~main .blue{
    color: rgb(255, 171, 149);
}

.green{
    color: green;
}

.on-off-dark-mode:checked ~main .green{
    color: lightgreen;
}

.cartePresentation{
    width: 70%;
    padding : 2%;
    background-color: white;
    z-index: 2;
    border-radius: 50px;
    box-shadow: 0 0 70px 5px rgba(0,0,0,0.25);
    position : relative;
    transition-duration: 0.5s;
    transition-property: opacity, background-color;
}

.on-off-dark-mode:checked ~ main .cartePresentation{
    background-color: rgb(185,185,185);
}

.cartePresentation > div{
    padding: 0 5%;
    border: 1px solid var(--couleur-light);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--couleur-dark);
    text-align: center;
}

.on-off-dark-mode:checked ~ main .cartePresentation > div{
    border-color: var(--couleur-dark);
}

.cartePresentation > div > *{
    margin : 50px 0;
}

.cartePresentation a{
    text-decoration: underline;
    font-size: 0.6rem;
    color : var(--couleur-dark);
}

@media screen and (max-width:1023px){
    .cartePresentation{
        width: 80%;
    }

    .cartePresentation a{
        font-size: 1.2rem;
    }
}

/*Section compétences*/

.deuxiemePartie{
    position: relative;
    opacity: 1;
    transition-duration: 0.5s;
    z-index: 1;
}

.mesCompetences{
    background-color: var(--couleur-light);
    padding: 25vh 5% 15vh;
    transition-duration: 0.5s;
    color: black;
    z-index: 1;
    position: relative;
    top:0;
    border-radius: 0 0 25px 25px;
}

.on-off-dark-mode:checked ~ main .mesCompetences{
    background-color: var(--couleur-dark);
    color: rgb(185,185,185);
}

.categories{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    transition-duration: 0.5s;
}

.titreCompetences{
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
}

.titreCompetences > h2, .titreCompetences a{
    padding: min(5%, 20px);
}

.titreCompetences a{
    color: black;
    text-decoration: none;
    cursor: default;
}

.on-off-dark-mode:checked ~ main .titreCompetences a{
    color : rgb(185, 185, 185);
}

.trait{
    width: 100%;
    height: 1px;
    background-color: black;
}

.on-off-dark-mode:checked ~ main .trait{
    background-color: rgb(185,185,185);
}

.listeCompetences{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.competence{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin : min(5%, 20px);
    width: min(30vw ,300px);
}

.logoCompetence{
    height: min(15vh, 150px);
    max-width: min(30vw, 150px);
    filter: brightness(0);
    transition-duration: 0.5s;
}

.on-off-dark-mode:checked ~ main .logoCompetence{
    filter: brightness(0.8);
}


@media screen and (max-width:1023px){
    .mesCompetences h2{
        text-align: center;
    }
}

@media screen and (max-width:599px){
    .competence {
        width: min(40vh, 40vw ,300px);
    }

    .logoCompetence{
        height: min(15vh, 150px);
        max-width: min(40vw, 150px);
    }
}

/*Section Projets*/


.listeProjets{
    display: flex;
    flex-wrap: wrap;
    padding:1%;
    justify-content: space-around;
}

.projet{
    width: 49%;
    margin-top: 5%;
    position: relative;
}

.on-off-dark-mode:checked ~ main .projet{
    filter : brightness(0.8)
}

.info{
    display: flex;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    color: rgb(185,185,185);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition-duration: 0.5s;
    text-align: center;
    padding:15%;
    font-family: Arial, Helvetica, sans-serif;
}

.info a{
    color: rgb(185, 185, 185);
}

.projet:hover .info{
    opacity: 1;
}

.visuelProjet{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.imageProjet{
    width: 100%;
}

@media screen and (max-width:1023px){
    .projet{
        width: 98%;
    }

    .info{
        opacity: 1;
    }
}

@media screen and (max-width:350px){
    .info{
        font-size: 0.7rem;
    }
}

/*section contact*/

.contact{
    height: 100vh;
    z-index: 0;
    position: relative;
}

.on-off-dark-mode:checked ~ main .contact{
    background-color: rgb(185, 185, 185);
}

.volet{
    display: flex;
    align-items: center;
    top:0;
    z-index: -1;
    padding: 2%;
    padding-right: 0;
    height: 100%;
    justify-content: stretch;
}

.on-off-dark-mode:checked ~ main .volet{
    color: rgb(185, 185, 185);
}

.contactHaut{
    display: none;
}

.contactHaut{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--couleur-light);
    border-radius: 25px 25px 0 0;
}

.on-off-dark-mode:checked ~ main .contactHaut{
    background-color: var(--couleur-dark);
}

.contactCentre{
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 0 0 25px 25px;
    margin-top: -1px;
    background-color: var(--couleur-light);
}

.on-off-dark-mode:checked ~ main .contactCentre{
    background-color: var(--couleur-dark);
}

.contactBas{
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.contactGauche{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1%;
    max-height: 100%;
    justify-content: center;
    background-color: var(--couleur-light);
    border-radius: 25px;
    text-align: center;
    color: black;
    transition-duration: 0.5s;
}

.contactGauche > *{
    margin : 2% 0;
}

.on-off-dark-mode:checked ~ main .contactGauche{
    background-color: var(--couleur-dark);
    color: rgb(185,185,185);
}

.contact h6{
    font-size: 1.5em;
    margin-bottom: 2%;
}

.contact #erreure{
    color : red;
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 10%;
}

.formulaire > *{
    margin : 2% 0;
}

.contact textarea, .contact input, .contact button{
    width: 80%;
    font-size: 0.4rem;
    padding: 0 5%;
    border-radius: 10px;
    border: none;
    font-family: 'Kaushan Script', cursive;
    min-height: 0.4rem;
}

.on-off-dark-mode:checked ~ main .contact textarea, .on-off-dark-mode:checked ~ main .contact input{
    background-color: rgb(185, 185, 185);
}

.contact button{
    width: 40%;
    height: auto;
    padding: 2% 5%;
    cursor: pointer;
    transition-duration: 0.5s;
    box-sizing: content-box;
}

.contact button:hover{
    transform: scale(1.2);
}

.on-off-dark-mode:checked ~ main .contact button{
    background-color: rgb(185, 185, 185);
    color:var(--couleur-dark);
}

.contactDroite{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: white;
}

.on-off-dark-mode:checked ~ main .contactDroite{
    background-color: rgb(185, 185, 185);
}


.reseauxSociaux{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20%;
    width: 100%;
}

.on-off-dark-mode:checked ~ main .reseauxSociaux{
    background-color: rgb(185, 185, 185);
    color:var(--couleur-dark);
}


.logos{
    width: 90%;
    display: flex;
    justify-content: center;
}

.logo-contact{
    max-height: 10vh;
    max-width: 10vw;
    margin:20px;
    transition-duration: 0.5s;
}

.on-off-dark-mode:checked ~ main .logo-contact{
    filter: brightness(0.5);
}

.img-contact{
    padding-top: 2%;
    max-width: 75%;
    max-height: 100%;
}

.on-off-dark-mode:checked ~ main .img-contact{
    filter: brightness(0.8);
}

.contactDroite a{
    color : black;
    text-decoration: none;
}

.on-off-dark-mode:checked ~ main .contactDroite a{
    color: var(--couleur-dark);
}

@media screen and (max-width:1023px){
    .contact textarea, .contact input, .contact button{
        font-size: 0.5rem;
    }

    .contactGauche{
        width: 60%;
    }

    .logo-contact{
        margin : 10px;
    }
}

@media screen and (max-width:599px){
    .volet{
        padding:1%;
        width: 100%;
    }

    .contact h6{
        font-size: 1.2rem;
    }

    .contactCentre{
        border-radius: 25px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .contactGauche{
        width: 100%;
        border-radius: 25px;
    }

    .contactHaut > p, .contactGauche > p{
        display: none;
    }

    .contact textarea, .contact input, .contact button{
        font-size: 0.8rem;
    }

    .reseauxSociaux h6{
        display: none;
    }

    .img-contact{
        display: none;
    }

    .contactDroite, .reseauxSociaux{
        background-color: transparent;
    }

    .logo-contact{
        filter: brightness(0);
        max-height: 12vh;
        max-width: 12vw;
    }
}